@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome To Stock Management</h1>
</div>
<div>
    <a href="#" onclick="window.location.href='/Products/Index'" class="button">Product</a>
    <a href="#" onclick="window.location.href='/Purchases/Index'" class="button">Purchase</a>
    <a href="#" onclick="window.location.href='/Stocks/Index'" class="button">Stock Details</a>
</div>
